.smoke {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  background-image: url("../img/bg_smoke.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s;
  transform: translateX(0);
  opacity: 0;
  pointer-events: none;
  animation: smoke-move 8s ease-out 2s infinite;
  animation-play-state: paused;
}

@keyframes smoke-move {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateX(-45%);
  }
}
